body { font-family: sans-serif; background: #eee; }
h1, h2 { font-family: serif; margin: 0; }
h1 { bottom-border: 2px solid #eee; text-align: left; }
h2 { font-size: 0.8em; text-align: right; }
.add { margin: 2em auto; width: 35em; border: 5px solid #ccc; padding: 0.8em; background: white; }
.stats { margin: 2em auto; width: 35em; border: 5px solid #ccc; padding: 0.8em; background: white; }
.stats th { text-align: left; }
.nav { margin: 0.5em auto; width: 20em; text-align: center; font-size: 0.8em; border: 1px solid; background: #fafafa; }
.msg { margin: 2em auto; width: 35em; border: 1px solid; background: #CEE5F5; padding: 0.5em;  }
.error { margin: 2em auto; width: 35em; background: #F0D6D6; padding: 0.5em; }
