# Dancer Specific
*.old
example/logs
t/*/logs
t/*/sessions
logs
TestApp
t/sessions/
tags


# From: https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
.*
!.gitignore
!.travis.yml
*~
*.sw[a-p]


# From: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


# From https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


# From https://github.com/github/gitignore/blob/master/Perl.gitignore
blib/
.build/
_build/
cover_db/
inc/
Build
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.json
MYMETA.yml
nytprof.out
pm_to_blib
