Al Newkirk <github@alnewkirk.com> <root@alnewkirk.com>
Alberto Simões <ambs@cpan.org> ambs <ambs@cpan.org>
Alex Kalderimis <alex.kalderimis@gmail.com> <alex@flymine.org>
Alexis Sukrieh <sukria@sukria.net> <sukria@hypnos2.nxr.fr>
Alexis Sukrieh <sukria@sukria.net>  <alexis@weborama.com>
Alexis Sukrieh <sukria@sukria.net>  <sukria@bigdata.(none)>
Alexis Sukrieh <sukria@sukria.net>  <sukria@farfadet.(none)>
Craig Treptow <craig.treptow@gmail.com>
Damien Krotkine <dams@cpan.org>  <dams@erable.local>
Damien Krotkine <dams@cpan.org>  <dams@zarb.org>
Damien Krotkine <dams@cpan.org>  <dkrotkine@cpan.org>
Damien Krotkine <dams@cpan.org>  <dkrotkine@weborama.com>
Gabor Szabo <gabor@szabgab.com>  <szabgab@gmail.com>
Michal Wojciechowski <michal@sidnet.info> <odyniec@odyniec.net>
Richard Simões <rsimoes@cpan.org> <rsimoes@hostgator.com>
Yanick Champoux <yanick@cpan.org> <yanick@babyl.dyndns.org>
Adam Kennedy <adamk@cpan.org>
Franck Cuny <franck.cuny@gmail.com> <franck@lumberjaph.net>
Naveed Massjouni <naveedm9@gmail.com> ironcamel <naveedm9@gmail.com>
Sawyer X <xsawyerx@cpan.org> sawyer <sawyer@dungeon.(none)>
Sawyer X <xsawyerx@cpan.org> sawyer <sawyer@eggplant.(none)>
Sawyer X <xsawyerx@cpan.org> sawyer <sawyer@flore.(none)>
Sawyer X <xsawyerx@cpan.org> sawyer <sawyer@potato.(none)>
