body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
}

h1, h2, h3 {
    color: #444;
    border-bottom: 1px solid #449;
}

img {
    border: 1px solid #ddd;
    padding: 1px;
    margin: 1em;
}

#container {
    margin: auto;
    width:700px;
}

#footer {
    margin-top: 2em;
    font-size: 10px;
    color: #aaa;
    border-top: 1px solid #aaa;
}
