<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Perl Dancer Official Developers" />
   <link href="http://sukria.github.com/Dancer/atom.xml" rel="alternate" title="Perl Dancer Official Blog" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/Dancer/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/Dancer/css/screen.css" type="text/css" media="screen, projection" />

<div class="site">
  <div class="title">
    <a href="/Dancer">Perl Dancer Official Blog</a>
    <a class="extra" href="/Dancer">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Perl Dancer<br />
        reverse ( org dot perldancer at root )
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://perldancer.org">Perl Dancer Official Website</a><br />
        <a href="http://github.com/sukria/Dancer">Dancer's code on github</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="http://sukria.github.com/Dancer/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://sukria.github.com/Dancer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork us on GitHub" /></a>

</body>
</html>

